@model IList<FormField>

@{
    Layout = "_ConfigurePlugin";
}

<a asp-action="Index" asp-controller="SLSyncPortal" asp-area="Admin">Back to plugin menu</a>

<form asp-action="Save" method="post">
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var property in Model)
            {
                <tr>
                    <td>
                        @property.Name
                    </td>
                    <td>
                        @if (property.FieldType == FieldTypes.Boolean)
                        {
                            <input type="checkbox" id="@(property.Name)" name="@(property.Name)" value="@(property.Value)" />
                        }
                        else if (property.FieldType == FieldTypes.String)
                        {
                            <input type="text" id="@(property.Name)"   name="@(property.Name)"  value="@(property.Value)" />
                        }
                        else if (property.FieldType == FieldTypes.Int)
                        {
                            <input type="number" id="@(property.Name)"   name="@(property.Name)"  value="@(property.Value)" />
                        }
                        else
                        {
                            <input type="checkbox" id="@(property.Name)" name="@(property.Name)" value="@(property.Value)" />
                        }
                    </td>
                    <td>
                        @property.DescriptionValue
                        <input type="hidden" id="@(property.Description)" name="@(property.Description)" value="@(property.DescriptionValue)" />
                    </td>
                </tr>
            }
    
        </tbody>
    </table>
<div class="form-group">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
   </div>

</form>

@*<form asp-action="Save" method="post">
    <div class="form-group">
        <div class="col-md-3">
            <label asp-for="CurrentVersion">Current Version</label>
        </div>
        <div class="col-md-9">
            <input type="text" asp-for="CurrentVersion" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            <label asp-for="Client">Client</label>
        </div>
        <div class="col-md-9">
            <input type="text" asp-for="Client" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            <label asp-for="DatabaseServer">Database Server</label>
        </div>
        <div class="col-md-9">
            <input type="text" asp-for="DatabaseServer" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            <label asp-for="DatabaseName">Database Name</label>
        </div>
        <div class="col-md-9">
            <input type="text" asp-for="DatabaseName" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            <label asp-for="DatabaseUserName">Database Username</label>
        </div>
        <div class="col-md-9">
            <input type="text" asp-for="DatabaseUserName" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            <label asp-for="DatabasePassword">Database Password</label>
        </div>
        <div class="col-md-9">
            <input type="text" asp-for="DatabasePassword" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            <label asp-for="Host">Host</label>
        </div>
        <div class="col-md-9">
            <input type="text" asp-for="Host" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            <label asp-for="Port">Port</label>
        </div>
        <div class="col-md-9">
            <input type="text" asp-for="Port" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            <label asp-for="ServiceLayerURL">Service Layer URL</label>
        </div>
        <div class="col-md-9">
            <input type="text" asp-for="ServiceLayerURL" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            <label asp-for="ServiceLayerCompanyUsername">Service Layer Company Username</label>
        </div>
        <div class="col-md-9">
            <input type="text" asp-for="ServiceLayerCompanyUsername" class="form-control" />
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-3">
            <label asp-for="ServiceLayerCompanyPassword">Service Layer Company Password</label>
        </div>
        <div class="col-md-9">
            <input type="text" asp-for="ServiceLayerCompanyPassword" class="form-control" />
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-3">
            <label asp-for="SLSyncUpdateURL">SL Sync Update URL</label>
        </div>
        <div class="col-md-9">
            <input type="text" asp-for="SLSyncUpdateURL" class="form-control" />
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-3">
            <label asp-for="SLSyncUpdateServiceName">SL Sync Update Service Name</label>
        </div>
        <div class="col-md-9">
            <input type="text" asp-for="SLSyncUpdateServiceName" class="form-control" />
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-3">
            <label asp-for="SLSyncUpdatePath">SL Sync Update Path</label>
        </div>
        <div class="col-md-9">
            <input type="text" asp-for="SLSyncUpdatePath" class="form-control" />
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-3">
            <label asp-for="AppMode">App Mode</label>
        </div>
        <div class="col-md-9">
            <input type="text" asp-for="AppMode" class="form-control" />
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-3">
            <label asp-for="ClientURL">Client URL</label>
        </div>
        <div class="col-md-9">
            <input type="text" asp-for="ClientURL" class="form-control" />
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-3">
            <label asp-for="ImgURL">Img URL</label>
        </div>
        <div class="col-md-9">
            <input type="text" asp-for="ImgURL" class="form-control" />
        </div>
    </div>
  
    
    <div class="form-group">
        <div class="col-md-3">
            <label asp-for="LogFilePath">Log File Path</label>
        </div>
        <div class="col-md-9">
            <input type="text" asp-for="LogFilePath" class="form-control" />
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-3">
            <label asp-for="KeepLogHistoryDays">Keep Log History Days</label>
        </div>
        <div class="col-md-9">
            <input type="number" asp-for="KeepLogHistoryDays" class="form-control" />
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-3">
            <label asp-for="LogOutgoingXMLs">Log Outgoing XMLs</label>
        </div>
        <div class="col-md-9">
            <input type="checkbox" asp-for="LogOutgoingXMLs" class="form-control" />
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-3">
            <label asp-for="BackgroundProcessLimit">Background Process Limit</label>
        </div>
        <div class="col-md-9">
            <input type="number" asp-for="BackgroundProcessLimit" class="form-control" />
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-3">
            <label asp-for="DevelopmentCheckIntervalInSeconds">Development Check Interval In Seconds</label>
        </div>
        <div class="col-md-9">
            <input type="number" asp-for="DevelopmentCheckIntervalInSeconds" class="form-control" />
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-3">
            <label asp-for="NewVersionCheckIntervalInSeconds">New Version Check Interval In Seconds</label>
        </div>
        <div class="col-md-9">
            <input type="number" asp-for="NewVersionCheckIntervalInSeconds" class="form-control" />
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-3">
            <label asp-for="UpdaterCheckIntervalInSeconds">Updater Check Interval In Seconds</label>
        </div>
        <div class="col-md-9">
            <input type="number" asp-for="UpdaterCheckIntervalInSeconds" class="form-control" />
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-3">
            <label asp-for="SyncIntervalInSeconds">Sync Interval In Seconds</label>
        </div>
        <div class="col-md-9">
            <input type="number" asp-for="SyncIntervalInSeconds" class="form-control" />
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-3">
            <label asp-for="InventorySyncIntervalInSeconds">Inventory Sync Interval In Seconds</label>
        </div>
        <div class="col-md-9">
            <input type="number" asp-for="InventorySyncIntervalInSeconds" class="form-control" />
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-3">
            <label asp-for="InventoryDeltaSyncIntervalInSeconds">Inventory Delta Sync Interval In Seconds</label>
        </div>
        <div class="col-md-9">
            <input type="number" asp-for="InventoryDeltaSyncIntervalInSeconds" class="form-control" />
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-3">
            <label asp-for="InventorySyncIntervalInSeconds">Inventory Sync Interval In Seconds</label>
        </div>
        <div class="col-md-9">
            <input type="number" asp-for="InventorySyncIntervalInSeconds" class="form-control" />
        </div>
    </div>
        

   <div class="form-group">
       <div class="col-md-3">
           <label asp-for="ItemSplitSize">Item Split Size</label>
       </div>
       <div class="col-md-9">
           <input type="number" asp-for="ItemSplitSize" class="form-control" />
       </div>
   </div>
   
   <div class="form-group">
       <div class="col-md-3">
           <label asp-for="InventorySplitSize">Inventory Split Size</label>
       </div>
       <div class="col-md-9">
           <input type="number" asp-for="InventorySplitSize" class="form-control" />
       </div>
   </div>
   
   <div class="form-group">
       <div class="col-md-3">
           <label asp-for="InventoryQueryName">Inventory Query Name</label>
       </div>
       <div class="col-md-9">
           <input type="text" asp-for="InventoryQueryName" class="form-control" />
       </div>
   </div>
   
   <div class="form-group">
       <div class="col-md-3">
           <label asp-for="FetchPriceQueryName">Fetch Price Query Name</label>
       </div>
       <div class="col-md-9">
           <input type="text" asp-for="FetchPriceQueryName" class="form-control" />
       </div>
   </div>


<div class="form-group">
    <div class="col-md-3">
        <label asp-for="LogGeneratedXML">Log Generated XML</label>
    </div>
    <div class="col-md-9">
        <select asp-for="LogGeneratedXML" class="form-control">
            <option value="True">True</option>
            <option value="False">False</option>
        </select>
    </div>
</div>

<div class="form-group">
    <div class="col-md-3">
        <label asp-for="Log_FPEcom_xml">Log FPEcom XML</label>
    </div>
    <div class="col-md-9">
        <select asp-for="Log_FPEcom_xml" class="form-control">
            <option value="True">True</option>
            <option value="False">False</option>
        </select>
    </div>
</div>

<div class="form-group">
    <div class="col-md-3">
        <label asp-for="CompareXMLs">Compare XMLs</label>
    </div>
    <div class="col-md-9">
        <select asp-for="CompareXMLs" class="form-control">
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
    </div>
</div>

<div class="form-group">
    <div class="col-md-3">
        <label asp-for="DebugMode">Debug Mode</label>
    </div>
    <div class="col-md-9">
        <select asp-for="DebugMode" class="form-control">
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
    </div>
</div>

<div class="form-group">
    <div class="col-md-3">
        <label asp-for="DeleteSyncedObjects">Delete Synced Objects</label>
    </div>
    <div class="col-md-9">
        <select asp-for="DeleteSyncedObjects" class="form-control">
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
    </div>
</div>

<div class="form-group">
    <div class="col-md-3">
        <label asp-for="AddUrlAcl">Add Url Acl</label>
    </div>
    <div class="col-md-9">
        <select asp-for="AddUrlAcl" class="form-control">
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
    </div>
</div>

<div class="form-group">
    <div class="col-md-3">
        <label asp-for="CreateUOInstallMode">Create UO Install Mode</label>
    </div>
    <div class="col-md-9">
        <input type="text" asp-for="CreateUOInstallMode" class="form-control" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-3">
        <label asp-for="CreateUOVersion">Create UO Version</label>
    </div>
    <div class="col-md-9">
        <input type="text" asp-for="CreateUOVersion" class="form-control" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-3">
        <label asp-for="AddOrUpdateStoredProcedures">Add or Update Stored Procedures</label>
    </div>
    <div class="col-md-9">
        <select asp-for="AddOrUpdateStoredProcedures" class="form-control">
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
    </div>
</div>

<div class="form-group">
    <div class="col-md-3">
        <label asp-for="CreateUoOnStartup">Create Uo On Startup</label>
    </div>
    <div class="col-md-9">
        <select asp-for="CreateUoOnStartup" class="form-control">
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
    </div>
</div>

<div class="form-group">
    <div class="col-md-3">
        <label asp-for="CreateEventListenerUDT">Create Event Listener UDT</label>
    </div>
    <div class="col-md-9">
        <select asp-for="CreateEventListenerUDT" class="form-control">
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
    </div>
</div>


<div class="form-group">
    <div class="col-md-3">
        <label asp-for="CultureInfo">Culture Info</label>
    </div>
    <div class="col-md-9">
        <input type="text" asp-for="CultureInfo" class="form-control" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-3">
        <label asp-for="DecimalSeparator">Decimal Separator</label>
    </div>
    <div class="col-md-9">
        <input type="text" asp-for="DecimalSeparator" class="form-control" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-3">
        <label asp-for="UpdateNeeded">Update Needed</label>
    </div>
    <div class="col-md-9">
        <select asp-for="UpdateNeeded" class="form-control">
            <option value="True">True</option>
            <option value="False">False</option>
        </select>
    </div>
</div>

<div class="form-group">
    <div class="col-md-3">
        <label asp-for="UpdateDate">Update Date</label>
    </div>
    <div class="col-md-9">
        <input type="text" asp-for="UpdateDate" class="form-control" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-3">
        <label asp-for="ItemSyncPriceVersion">Item Sync Price Version</label>
    </div>
    <div class="col-md-9">
        <input type="text" asp-for="ItemSyncPriceVersion" class="form-control" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-3">
        <label asp-for="EnableItemSync">Enable Item Sync</label>
    </div>
    <div class="col-md-9">
        <select asp-for="EnableItemSync" class="form-control">
            <option value="True">True</option>
            <option value="False">False</option>
        </select>
    </div>
</div>

<div class="form-group">
    <div class="col-md-3">
        <label asp-for="EnableSalesOrderSync">Enable Sales Order Sync</label>
    </div>
    <div class="col-md-9">
        <select asp-for="EnableSalesOrderSync" class="form-control">
            <option value="True">True</option>
            <option value="False">False</option>
        </select>
    </div>
</div>

<div class="form-group">
    <div class="col-md-3">
        <label asp-for="EnableInventoryScheduledSync">Enable Inventory Scheduled Sync</label>
    </div>
    <div class="col-md-9">
        <select asp-for="EnableInventoryScheduledSync" class="form-control">
            <option value="True">True</option>
            <option value="False">False</option>
        </select>
    </div>
</div>

<div class="form-group">
    <div class="col-md-3">
        <label asp-for="EnableInventoryDeltaSync">Enable Inventory Delta Sync</label>
    </div>
    <div class="col-md-9">
        <select asp-for="EnableInventoryDeltaSync" class="form-control">
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
    </div>
</div>

<div class="form-group">
    <div class="col-md-3">
        <label asp-for="EnableBusinessPartnerSync">Enable Business Partner Sync</label>
    </div>
    <div class="col-md-9">
        <select asp-for="EnableBusinessPartnerSync" class="form-control">
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
    </div>
</div>

<div class="form-group">
    <div class="col-md-3">
        <label asp-for="EnableInvoiceSync">Enable Invoice Sync</label>
    </div>
    <div class="col-md-9">
        <select asp-for="EnableInvoiceSync" class="form-control">
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
    </div>
</div>

<div class="form-group">
    <div class="col-md-3">
        <label asp-for="EnableDeliverySync">Enable Delivery Sync</label>
    </div>
    <div class="col-md-9">
        <select asp-for="EnableDeliverySync" class="form-control">
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
    </div>
</div>

<div class="form-group">
    <div class="col-md-3">
        <label asp-for="EnableSalesTaxCodeSync">Enable Sales Tax Code Sync</label>
    </div>
    <div class="col-md-9">
        <select asp-for="EnableSalesTaxCodeSync" class="form-control">
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
    </div>
</div>

<div class="form-group">
    <div class="col-md-3">
        <label asp-for="EnableLivePriceFetchSync">Enable Live Price Fetch Sync</label>
    </div>
    <div class="col-md-9">
        <select asp-for="EnableLivePriceFetchSync" class="form-control">
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
    </div>
</div>

<div class="form-group">
    <div class="col-md-3">
        <label asp-for="EnableLogUpdateSync">Enable Log Update Sync</label>
    </div>
    <div class="col-md-9">
        <select asp-for="EnableLogUpdateSync" class="form-control">
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
    </div>
</div>

<div class="form-group">
    <div class="col-md-3">
        <label asp-for="EnableWS1Sync">Enable WS1 Sync</label>
    </div>
    <div class="col-md-9">
        <select asp-for="EnableWS1Sync" class="form-control">
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
    </div>
</div>

<div class="form-group">
    <div class="col-md-3">
        <label asp-for="EnableBPCatalogSync">Enable BP Catalog Sync</label>
    </div>
    <div class="col-md-9">
        <input type="checkbox" asp-for="EnableBPCatalogSync" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-3">
        <label asp-for="AttachmentPrefixSO">Attachment Prefix SO</label>
    </div>
    <div class="col-md-9">
        <input type="text" asp-for="AttachmentPrefixSO" class="form-control" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-3">
        <label asp-for="AttachmentPrefixDV">Attachment Prefix DV</label>
    </div>
    <div class="col-md-9">
        <input type="text" asp-for="AttachmentPrefixDV" class="form-control" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-3">
        <label asp-for="AttachmentPrefixQT">Attachment Prefix QT</label>
    </div>
    <div class="col-md-9">
        <input type="text" asp-for="AttachmentPrefixQT" class="form-control" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-3">
        <label asp-for="AttachmentPrefixIV">Attachment Prefix IV</label>
    </div>
    <div class="col-md-9">
        <input type="text" asp-for="AttachmentPrefixIV" class="form-control" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-3">
        <label asp-for="MultipleAttachments">Multiple Attachments</label>
    </div>
    <div class="col-md-9">
        <input type="checkbox" asp-for="MultipleAttachments" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-3">
        <label asp-for="MultipleUnits">Multiple Units</label>
    </div>
    <div class="col-md-9">
        <input type="checkbox" asp-for="MultipleUnits" />
    </div>
</div>


<div class="form-group">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
   </div>
</form>*@



