@{
    Layout = "_ConfigurePlugin";
}

<a asp-action="Index" asp-controller="SLSyncPortal" asp-area="Admin">Back to plugin menu</a>


<div>
    <div style="padding: 5px">
        <button type="button" class="btn btn-primary" id="createUo">
            <span class="spinner-border spinner-border-sm btn-spinner" role="status" 
                          aria-hidden="true" style="display: none;     margin-right: 8px;"></span>
            Create.UO
        </button>
    </div>
    <div style="padding: 5px">
        <button type="button" class="btn btn-primary" id="FIT">
            <span class="spinner-border spinner-border-sm btn-spinner" role="status" 
                          aria-hidden="true" style="display: none;     margin-right: 8px;"></span>
            FIT.WS1
        </button>
    </div>
    <div style="padding: 5px">
        <button type="button" class="btn btn-primary" id="storedProcedures">
            <span class="spinner-border spinner-border-sm btn-spinner" role="status" 
                          aria-hidden="true" style="display: none;     margin-right: 8px;"></span>
            Stored procedures
        </button>
    </div>
    <div style="padding: 5px">
        <button type="button" class="btn btn-primary" id="eventUdt">
            <span class="spinner-border spinner-border-sm btn-spinner" role="status" 
                          aria-hidden="true" style="display: none;     margin-right: 8px;"></span>
            Event UDT
        </button>
    </div>
</div>

<div class="message" id="message"> 
    @ViewBag.Response
</div>

<table id="data-table">
    <thead>
        <tr>
            <th>ObjectType</th>
            <th>IsSuccessful</th>
            <th>ID</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<link rel="stylesheet" href="~/Plugins/FocusPoint.SLSyncPortal/Styles/toastr.min.css"/>
<link rel="stylesheet" href="~/Plugins/FocusPoint.SLSyncPortal/Styles/spinner.css"/>
<style>



    
    button{
    width: 55%;
    height: 35px;
    margin-bottom: 5px;
    }
    
    .message{
    width: 650px;
    }
    
    .d-flex{
    display: flex;
    }
    
    #data-table {
       display: none;
      }
            
    #data-table {
        display: none;
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    #data-table th, #data-table td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: left;
    }

    #data-table th {
        background-color: #f2f2f2;
    }
</style>


<script src="~/Plugins/FocusPoint.SLSyncPortal/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Plugins/FocusPoint.SLSyncPortal/Scripts/toastr.min.js"></script>
<script src="~/Plugins/FocusPoint.SLSyncPortal/Scripts/notification.js"></script>
<script>
    $(document).ready(function () {
              handleButtonClick('createUo', '@Url.Action("CreateUo", "Installation", true)'); 
              handleButtonClick('FIT', '@Url.Action("InstallWs1", "Installation")');
              handleButtonClick('storedProcedures', '@Url.Action("StoredProcedures", "Installation")');
              handleButtonClick('eventUdt', '@Url.Action("EventUDT", "Installation")', true);
    });
    
    
function handleButtonClick(buttonId, actionUrl, handleTable = false) {
       let button = $('#' + buttonId);
       
       $('#message').text('');
       
       button.click(function() {
                     $(this).find('.btn-spinner').show();
                             button.prop('disabled', true);

           $.ajax({
               url: actionUrl,
               type: 'GET',
               dataType: 'json',
               success: function(result) {
                             button.prop('disabled', false);
                                 button.find('.btn-spinner').hide();
                   toastr.success('Action completed successfully.');
                   
                   if (handleTable){
                       handleDataToTable(result);
                   }
               },
               error: function(xhr, status, error) {
                   toastr.error('Action failed.');
               },
               complete: function() {
                   button.prop('disabled', false);
              button.find('.btn-spinner').hide();

               }
           });
       });
   }
   
   
function handleDataToTable(response){

    $('#data-table').hide();
    let tbody = $('#data-table tbody');
    tbody.empty();
    
    
    $.each(response, function (index, item) {
    var row = $('<tr>');
    row.append($('<td>').text(item.ObjectType));
    row.append($('<td>').text(item.IsSuccessful));
    row.append($('<td>').text(item.ID));
    row.append($('<td>').text(item.Message));
    tbody.append(row);
    });
    
    $('#data-table').show();
}
</script>
