@using Nop.Plugins.FocusPoint.SLSyncPortal.Enums
@using OfficeOpenXml.FormulaParsing.Excel.Functions.Logical
@model Nop.Plugins.FocusPoint.SLSyncPortal.Models.QueuesModel

@{
    Layout = "_ConfigurePlugin";
}

<a asp-action="Index" asp-controller="SLSyncPortal" asp-area="Admin">Back to plugin menu</a>
<div>
    <button  class="btn btn-primary" type="button" id="clearQueueBtn">Clear Queue</button>
    <a href="@Url.Action("Index", "Queues",
                 new { page = 1 })" class="btn btn-primary" 
       id="refreshQueueBtn">Refresh Queue</a>
</div>

<div>
    <form asp-action="Index" asp-controller="Queues" method="get">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>From</label>
                            </div>
                            <div class="col-md-9">
                                <input type="date" asp-for="Filter.From" asp-required="true" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>To</label>
                            </div>
                            <div class="col-md-9">
                                <input type="date" asp-for="Filter.To" asp-required="true" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Type</label>
                            </div>
                            <div class="col-md-9">
                                <select asp-for="Filter.Type"  class="form-control" >
                                    <option value="All">All</option>
                                    <option value="ItemCode">Items</option>
                                    <option value="CardCode">Bussiness Partners</option>
                                    <option value="Orders">Orders</option>
                                    <option value="Invoices">Invoices</option>
                                    <option value="Delivery">Delivery</option>
                                 </select>
                            </div>
                        </div>
                       <div class="form-group">
                        <div class="col-md-3">
                            <label>Key</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text" asp-for="Filter.Key" asp-required="true" class="form-control"/>
                        </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-9 col-md-offset-3">
                                <div class="input-group input-group-short">
                                    <div class="input-group-text">
                                        <input type="submit" name="file" class="btn btn-primary" value="Filter"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </form>
</div>

<div>
    <table id="items" class="table table-bordered table-hover table-striped dataTable no-footer" width="100%" role="grid" style="margin-left: 0px; width: 1211px;">
        <thead>
        <tr class="row">
            <th>Date</th>
            <th>Type</th>
            <th>Key</th>
            <th>Value</th>
            <th>Retry Count</th>
        </tr>
        </thead>
        <tbody>
        @if (Model.Items != null)
        {
            foreach (var item in Model.Items)
            {
                <tr class="row">
                    <td>@item.Date</td>
                    <td>@item.Type</td>
                    <td>@item.Key</td>
                    <td>@item.Value</td>
                    <td>@item.RetryCount</td>
                </tr>
            }
        }
        

        </tbody>
    </table>
    
    
   
    <div>
        <div class="pagination">
            @if (Model.TotalPages > 1)
            {
                @if (Model.CurrentPage > 1)
                {
                    <a href="@Url.Action("Index", new { page = Model.CurrentPage - 1 })">Previous</a>
                }

                @if (Model.StartPage > 1)
                {
                    <a href="@Url.Action("Index", new { page = 1 })">1</a>
                    @if (Model.StartPage > 2)
                    {
                        <span>...</span>
                    }
                }

                @for (int i = Model.StartPage; i <= Model.EndPage; i++)
                {
                    <a href="@Url.Action("Index", new { page = i })" @(i == Model.CurrentPage ? "class=current" : "")>@i</a>
                }

                @if (Model.EndPage < Model.TotalPages)
                {
                    @if (Model.EndPage < Model.TotalPages - 1)
                    {
                        <span>...</span>
                    }
                    <a href="@Url.Action("Index", new { page = Model.TotalPages })">@Model.TotalPages</a>
                }

                @if (Model.CurrentPage < Model.TotalPages)
                {
                    <a href="@Url.Action("Index", new { page = Model.CurrentPage + 1 })">Next</a>
                }
            }

            <p class="total-items">Total Items: @Model.ItemsCount</p>
        </div>
    </div> 
    
</div>


<link rel="stylesheet" href="~/Plugins/FocusPoint.SLSyncPortal/Styles/toastr.min.css"/>
<style>
.pagination {
                margin-top: 20px;
                text-align: center;
            }
    
            .pagination a, .pagination span {
                   display: flex;
                   padding: 5px 10px;
                   margin: 0 2px;
                   border: 1px solid #ccc;
                   text-decoration: none;
                   color: #030303;
                   background-color: #f9f9f9;
            }
    
            .pagination a:hover {
                background-color: #e0e0e0;
            }
    
            .pagination .current {
                font-weight: bold;
                background-color: #007bff;
                color: #fff;
            }
    
            .total-items {
                text-align: center;
                margin-top: 10px;
                color: #888;
            }
            
            #items {
              font-family: Arial, Helvetica, sans-serif;
              border-collapse: collapse;
              width: 100%;
            }
            
            #items td, #items th {
              border: 1px solid #ddd;
              padding: 8px;
            }
            
            #items tr:nth-child(even){background-color: #f2f2f2;}
            
            #items tr:hover {background-color: #ddd;}
            
            #items th {
              padding-top: 12px;
              padding-bottom: 12px;
              text-align: left;
              background-color: #3c8dbc;
              color: white;
            }
</style>


<script src="~/Plugins/FocusPoint.SLSyncPortal/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Plugins/FocusPoint.SLSyncPortal/Scripts/toastr.min.js"></script>
<script src="~/Plugins/FocusPoint.SLSyncPortal/Scripts/notification.js"></script>
<script>
    $(document).ready(function () {
        $('#clearQueueBtn').click(function() {
               $.ajax({
                   url: '@Url.Action("ClearQueue", "Queues")',
                   type: 'GET',
                   dataType: 'html',
                   success: function(result) {
                        toastr.success('Action completed successfully.');
                   },
                   error: function(xhr, status, error) {
                        toastr.error('Action failed.'); 
                   }
               });
           });
        
    });
</script>